/* This file will hold the main styles for your website. */

html, body, ul, li, div, a, img, h1, h2, h3, h4, h5, h6, input, p, ul, li {
  margin: 0px;
  padding: 0px;
}

img {
  border: 0px;
}

body {
  background: top center no-repeat url(../images/bg.jpg) #ffffff;
  font-family: Arial, Verdana, sans-serif;
  font-size: 12px;
  color: #3e260a;
}

body.page-messstellen-popup {
  background: none;
  min-width: 10px;
}

body.page-messstellen-popup h1#page-title,
body.page-messstellen-popup .breadcrumb {
  display: none;
}

body.page-messstellen-popup #region-content {
  margin-left: 0px;
  margin-top: 5px;
}

body.page-messstellen-popup .container-12 .grid-12,
body.page-messstellen-popup .container-12 {
  width: auto;
}

body.page-messstellen-popup .region-preface-first-inner {
  display: none;
}

body.page-messstellen-popup .node-links {
  display: none;
}

.openlayers-tooltip-name a{
  font-size: 1.2em;
}

.field-type-taxonomy-term-reference .field-item {
  margin-right: 5px;
}

h1, h2, h3 {
  font-family: Georgia;
  color: #58585a;
  font-weight: normal;
  border-bottom: 1px solid #e5e6e6;
  text-transform: uppercase;
  padding-bottom: 4px;
}

h1 {
  padding-bottom: 6px;
  margin-bottom: 10px;
  font-size: 1.7em;
}

h2,
h2.node-title {
  font-size: 1.5em;
}

.zone-content p, .zone-content ul, .zone-content ol {
  margin-bottom: 1em;
}

ul, ol {
  margin-left: 2em;
}

.section-content {
 background: url(../images/main_bg.jpg) left top repeat-x #ffffff;
}

.page-messstellen-popup .section-content {
  background: none;
}

.site-name-slogan h6 {
  font-family: Arial, Verdana, sans-serif;
  font-size: 12px;
  line-height: 1.5em;
}

.region-branding-inner {
  position: relative;
  height: 22em;
  background: url(../images/header_bg.jpg) left top repeat-x transparent;
}

.logo-img {
  position: absolute;
  left: 23px;
  top: 0px;
  float: none;
}

.site-name-slogan {
  position: absolute;
  right: 20px;
  top: 30px;
  color: #49c1ec;
}

#block-menu-menu-secondary-menu {
  position: absolute;
  right: 20px;
  top: 60px;
  font-size: 0.9em;
}

#block-menu-menu-secondary-menu a.active {
  color: #87888a; 
}

#block-menu-menu-secondary-menu ul.menu {
  list-style-type: none;
}

#block-menu-menu-secondary-menu ul.menu li {
  float: left;
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px solid #87888a;
  line-height: 1em;
  list-style-image: none;
  list-style-type: none;
}

#block-menu-menu-secondary-menu ul.menu li.last {
  border-right: none;
  margin-right: 0px;
  padding-right: 0px;
  margin-left: 0em;
}

a,
a:link, 
a:visited,
li a:link {
  text-decoration: none;
  color: #00598e;
}

.navigation {
  position: relative;
}

.navigation ul.main-menu {
  list-style-type: none;
  position: absolute;
  left: 38px;
  bottom: 0px;
}

.navigation ul.main-menu li {
  float: left;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1em;
  margin-right: 0em;
}

.navigation ul.main-menu a {
  color: #ffffff;
  border-radius: 8px 8px 0 0;
  display: inline-block;
  margin: 0 0.1em 0 0;
  padding: 0 1em;
  text-align: center;
  background-color: #49C1EC;
  line-height: 40px;
}

.navigation ul.main-menu a.active {
  background-color: #005a8e;
}

.navigation ul.inline li {
  padding: 0em;
}

.navigation a:link {
  color: #ffffff;
}

.region-content {
  background-color: #ffffff;
  margin-top:10px;
}

.region-content-inner {
  margin: 37px 37px 20px
}

.page-messstellen-popup .region-content-inner {
  margin: 0px;
}

.section-footer {
  min-height: 165px;
  height:auto !important;
  height:165px;
  background: url(../images/footer_bg.jpg) left bottom repeat-x #005f97;
  margin-top: 50px;
  padding-top: 1px;
}

.zone-footer {
  color: #b1b3b4;
  border-top: 1px solid #618ca6;
  margin-top: 14px;
  padding-top: 8px;
  padding-right: 5px;
  font-size: 0.9em;
}

.region-footer-first-inner {
  text-align: right;
}

body.toolbar-drawer {padding-top: 0em !important;}

.region-preface-first-inner {
  position: absolute; 
  left: 970px; 
  top: 10px;
  background-color:#ffffff;
  width: 160px;
  padding:5px;
}
.region-preface-first-inner .menu {
  margin-left: 1em; 
}

/* messstelle node */

.node-hw-messstelle.node-full .field-name-field-hw-geoposition {
  float: right;
}

.node-hw-messstelle.node-full .group-hw-info .fieldset-legend {
  display: none;
}

/* messstellen listings */


.node-hw-messstelle.node-teaser .field::after {
  clear: left;
}

.node-hw-messstelle.node-teaser .field-name-field-hw-geoposition {
  float: right;
}




.node-teaser {
  margin-bottom: 1.5em;
}

/* user */
.secondary-menu {
  position: absolute;
  left: 970px;
  top: -20px;
  width: 200px;
}

.secondary-menu a, .secondary-menu a:link {
  color: #00598E;
}

/* geo navigation */

.view-hw-geo-navigation {
  margin-top: 2em;
}

.view-hw-geo-navigation .views-row, .view-hw-geo-navigation .views-field {
  float: left;
  width: 200px;
  clear: none;
  margin-bottom: 0.5em;
}
.pane-hw-bezirk-updates {
  clear: left;
  padding-top: 2em;
}

.node.node-hw-messstelle .field-name-field-hw-geoposition {
  float: right;
}


/* views */
.views-row {
  margin-bottom: 1.5em;
  clear: left;
}

.views-field-title {
  font-size: 1.25em;
}


/* about features listing */

.view-af-about-feature-listing h3 {
  clear: left;
}

.view-af-about-feature-listing .views-row {
  margin-bottom: 1.5em;
  clear: left;
}

.view-af-about-feature-listing .views-field-field-af-feature-image {
  float: left;
  margin-bottom: 2em;
}

.view-af-about-feature-listing .views-field-title,
.view-af-about-feature-listing .views-field-body,
.view-af-about-feature-listing .views-field-field-af-feature-link {
  margin-left: 230px;
}

/* Messstellen List */
.view-hw-messstellen-list .views-exposed-form {
  background-color: #f5f7f9;
  padding: 5px 20px;
}

.view-hw-messstellen-list .view-filters {
  border-bottom: 1px solid #E5E6E6;
  padding-bottom: 10px;
  margin-bottom: 25px;
}

.node-hw-messstelle h2 {
  padding-bottom: 0px;
  margin-bottom: 10px;
}

.node-hw-messstelle .field-label {
  color: #00598e;
}

.node-hw-messstelle .field-name-field-hw-geoposition {
  background: url(../images/map_bg.jpg) center top no-repeat transparent;
  padding: 0px 20px 25px 20px;
  margin-top: -35px;
}

.page-taxonomy .node-hw-messstelle.node-teaser .field-name-field-hw-werte,
.view-hw-messstellen-list .node-hw-messstelle.node-teaser .field-name-field-hw-werte {
  margin-left: 50px;
}

.page-taxonomy .node-hw-messstelle.node-teaser .node-links,
.view-hw-messstellen-list .node-hw-messstelle.node-teaser .node-links {
  position: relative;
  top: -40px;
}

.node-links ul {
  margin-left: 0em;
}

.node-links ul li {
  padding-left: 0em;
}

.node-links ul li a {
  font-weight: bold;
  background: url(../images/bullet.gif) center left no-repeat transparent;
  padding-left: 18px;
  border-bottom: 1px solid;
}

/* Frontpage */
.pane-hw-bezirk-updates .node-update h2 {
  font-size: 1.2em;
}

.pane-hw-bezirk-updates .pane-title {
  margin-bottom: 1em;
}

.pane-hw-bezirk-updates .col-first {
  padding-right: 1em;
}

.pane-hw-bezirk-updates .col-last {
  padding-left: 1em;
}

.view-hw-messstellen-map .views-exposed-form {
  background-color: #f5f7f9;
  padding: 5px 20px;
  margin-bottom: 1em;
}

/* Frontpage */
body.front .region-content {
  background: none;
}

body.front .view-hw-messstellen-map .view-content {
  background: url(../images/bigmap_bg.png) center top no-repeat transparent;
  padding: 40px;
  width: 866px;
  margin-left: -40px;
}